@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;300&display=swap");
.container {
  width: 75vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.container .header {
  margin-bottom: 50px;
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .header .add-task {
  height: 45px;
  width: 60vw;
  margin-left: 40px;
  margin-top: 10px;
}
.container .header .add-task input {
  box-shadow: 0 0 20px 1px gray;
  height: 100%;
  width: 80%;
  padding-left: 20px;
  margin-right: 0;
  border: none;
  border-radius: 100px 0 0 100px;
  outline: none;
}
.container .header .add-task button {
  box-shadow: 0 0 20px 1px gray;
  cursor: pointer;
  border: none;
  margin-left: -4.5px;
  height: 45px;
  width: 45px;
  border-radius: 0 50% 50% 0;
}
.container .header .search-task {
  width: 15vw;
  margin-top: 10px;
  margin-right: 20px;
}
.container .header .search-task input {
  border: none;
  background: none;
  outline: none;
  height: 100%;
  border-bottom: solid 1px;
}
.container .tasks .task {
  overflow: auto;
  max-height: 100vh;
}
.container .tasks .task::-webkit-scrollbar {
  width: 12px;
}
.container .tasks .task::-webkit-scrollbar-thumb {
  background: linear-gradient(#fff, #FF0000);
  border-radius: 20px;
}
.container .tasks .task div {
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: 65vw;
}
.container .tasks .task div .remove-task {
  transform: translateX(85px);
  color: #fff;
  background-color: #FF0000;
  cursor: pointer;
  padding: 0px 20px;
  font-size: 1rem;
  border: none;
  z-index: 0;
}
.container .tasks .task div .remove-task:hover {
  transform: translateX(0px);
}
.container .tasks .task div span {
  font-weight: 10;
  font-size: 1.5rem;
  z-index: 1000;
  width: 65vw;
  background-color: #fff;
  padding: 10px;
  display: flex;
  position: relative;
  box-shadow: 0 0 50px gray;
}
.container .tasks .task div .done-task {
  color: #fff;
  background-color: #17B169;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-size: 1.5rem;
  border: none;
}
.container .tasks .task div .option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-size: 1.5rem;
  border: none;
}

* {
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 10px gray;
  border-radius: 0 0 5px 0;
  width: 25vw;
  height: 100vh;
  background-color: #fff;
}
.sidebar .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0 50% 50% 0;
  position: absolute;
  top: 0vh;
  right: -20px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  box-shadow: 10px 0px 10px gray;
  overflow: visible !important;
}
.sidebar .toggle span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar ul .logo {
  margin-bottom: 30px;
  cursor: default;
  display: flex;
  flex-direction: column;
}
.sidebar ul .logo .icon {
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.sidebar ul .logo .icon img {
  width: 100%;
  height: 100%;
}
.sidebar ul .logo .text {
  cursor: pointer;
  font-size: 2rem;
}
.sidebar ul li {
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.sidebar ul li .icon {
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10px;
}
.sidebar ul li .text {
  margin: 0 auto;
  font-size: 1rem;
}
.sidebar ul li .text {
  margin: 0 auto;
  font-size: 1rem;
}
.sidebar ul .starred .icon {
  color: #fcc900;
}
.sidebar ul .completed .icon {
  color: #32de84;
}
.sidebar ul .filter .icon {
  color: #fd5c63;
}
.sidebar ul .sort .icon {
  color: #ee82ee;
}

/*# sourceMappingURL=styles.css.map */
