// font size
$big-font: 2rem;
$normal-font: 1.5rem;
$little-font: 1rem;

// colors
$star-clr: #fcc900;
$completed-clr: #32de84;
$periority-clr: #fd5c63;
$sort-clr: #ee82ee;
$delete-clr: #FF0000;
$done-clr: #17B169;

//backgroun colors

// theme
$colors: (
  "bg-clr-primary": #fff,
  "clr-primary": #000,
);